<div>
	<div>
		{{#each payload}}
            <div>
                <p>Id Producto: {{this._id}}</p>
                <img src={{this.thumbnail}} alt={{this.title}} width="50" height="50" >
                <p>Producto: {{this._id.title}}</p>
                <p>Precio: ${{this._id.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <p> ____________________________________________________________________________________________________________ </p>
            </div>
		{{/each}}
	</div>
</div>