<div> Users </div>
<div>
    {{#each data}}
        <div>
            <p>Name: {{name}}</p>
            <p>Email: {{email}}</p>
            <p>Role: {{role}}</p>
        </div>
        <a href="/updateRole/{{id}}"> 
            <button id="updRole" >Update Role</button> 
        </a>

        <button onClick="DeleteUser('{{id}}');">Delete User</button>
        
    {{/each}}
</div>

<script src="/js/updaterole.js"></script>

